.idea

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
backend/salendar/src/main/resources/application.yml
*.yml
ucc.mp4
시연영상 최종.mp4
